$main_font:'Poppins';

header {
  display: flex;
  min-width: 280px;
  background: #FFF1E5;
  padding: 164px 46px 46px 46px;
  .header_conteiner {
    display: flex;
    max-width: 283px;
    flex-direction: column;

    .header_conteiner2 {
      display: flex;
      max-width: 218px;
      flex-direction: column;
      align-content: space-between;
      justify-content: center;
      background: #FFFFFF;
      padding: 68px 34px 17px 31px;
      position: relative;
      .back_to_main {
        position: absolute;
        right: 23px;
        top: 28px;
        height: 30px;
        width: 31px;
      }
      .header_title {
        font-family: $main_font;
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 30px;
        color: #000000;
      }

      .katoen {
        margin-top: 18px;
      }

      .text_boxs {
        font-family: $main_font;
        font-style: normal;
        font-weight: 500;
        font-size: 8px;
        line-height: 15px;
        color: #000000;
        margin-top: 18px;
      }
    }
    .header_conteiner3{
      @extend .header_conteiner2;
      margin-top: 40px;
      padding: 66px 34px 128px 31px;
      h2{
        @extend .header_title;
      }
      p{
        @extend .text_boxs;
      }
    }
  }
  }


