
$main_font:'Poppins';

header {
  display: flex;
  min-width: 280px;
  background: rgba(0, 0, 0, 0.26);
  background-blend-mode: darken;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-image: url("../images/Rectangle 173.png");
  background-position: center;
  height: 593px;
  background-size: cover;
  position: relative;
  .header_conteiner {
    min-width: 280px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: space-between;
    margin: 63px 29px 43px 63px;

    .header_conteiner1 {
      display: flex;
      justify-content: space-between;
      .logo1 {
        font-size: 10px;
      }

      }
    }
    .header_conteiner2 {
      display: flex;
      .header_title {
        font-family: $main_font;
        font-style: normal;
        font-weight: 800;
        font-size: 33px;
        line-height: 46px;
        color: #FFFFFF;
      }
    }
  }
