$main_font:'Poppins';

.second_banner {
  min-width: 280px;
  display: flex;
  background: #FFFFFF;
  justify-content: center;
  padding: 66px 46px 79px 46px;
  .second_banner_conteiner{
    max-width: 283px;
    position: relative;
    h2{
      font-family: $main_font;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 30px;
      color: #000000;

    }
    .link_second_banner {
      background: #00E676;
      border-radius: 15px;
      position: absolute;
      bottom: -30px;
      left: 0;
      font-family: $main_font;
      font-style: normal;
      font-weight: 500;
      font-size: 8px;
      line-height: 15px;
      color: #000000;
      padding: 2px 11px 2px 11px;
      display: flex;

      &:after {
        color: black;
        content: url("/images/Arrow 4.svg");
        display: block;
        margin-top: 1px;
        margin-left: 2px;
      }
    }
  }
}